/******************************************
            TABLE OF CONTENTS:

1. Global styles

2. Layout/typography

3. Scrollbar

4. Buttons

*******************************************/

/* =============
   Global styles
   ============= */

.navbar {
    background-color: #004F54;
    height: 150px;
    margin-left: auto;
    margin-top: -10px;
}

.navbar .navbarheading {
    color: whitesmoke;
    margin-left: 400px;
    padding: 25px 25px;
    font-size: 3em;
}

.container .studinfo {
    margin-top: -70px;
    margin-left: 540px;
    font-size: 1.5em;
}
.top-side {
    position: relative;
    overflow: hidden;
    background-color: #004F54;
    margin-bottom: auto;
    border-radius: 10px;
}


.top-side a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 17px;
}

.top-side a:hover {
    background-color: #ddd;
    color: black;
}

.top-side a.active {
    background-color: transparent;
    color: white;
}

/* =============
    Layout/
    typography
   ============= */

table, th, td {
    border: 1px solid black;
    height: 50px;
}

th {
    background-color: #004F54;
    color: white;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ddd;
}

.tdtext {
    padding: 10px 12px;
}

/* =============
     Scrollbar
   ============= */
::-webkit-scrollbar {
    width: 18px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* =============
      Buttons
   ============= */

.addStudent {
    position: absolute;
    margin-top: -40px;
    margin-left: 1300px;
}

.addStudent .addContent {
    text-decoration: none;
    outline: none;
    border: transparent;
    border-radius: 4px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    background: dodgerblue;
    color: #FFF;
    padding: 8px 12px;
}

.addStudent .addContent:hover {
    background-color: blue;
}

.updateStudent {
    text-decoration: none;
    outline: none;
    border: transparent;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    background: #01575C;
    color: #FFF;
    padding: 20px 40px;
    box-sizing: border-box;
}

.deleteStudent {
    text-decoration: none;
    outline: none;
    border: transparent;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    background: red;
    color: #FFF;
    padding: 20px 40px;
}