<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add student</title>
    <link rel="stylesheet" href="/add-student.css">
</head>
<body>


<div class="container">
        <div>
            <h1 class="heading">Add new student</h1>

            <div>
                <form th:action="@{/students}" th:object="${addStudents}" method="POST">
                    <div class="form-info">
                        <label>Student's first name</label>
                        <input
                                type="text"
                                name="firstName"
                                th:field="*{firstName}"
                                class="form-text"
                                placeholder="Add student's first name"
                        />
                    </div>

                    <div class="form-info">
                        <label>Student's last name</label>
                        <input
                                type="text"
                                name="lastname"
                                th:field="*{lastName}"
                                class="form-text"
                                placeholder="Add student's last name"
                        />
                    </div>
                    <div class="form-info">
                        <label>Student's age</label>
                        <input
                                type="text"
                                name="age"
                                th:field="*{age}"
                                class="form-text"
                                placeholder="Add student's age"


                        />
                    </div>
                    <div class="form-info">
                        <label>Student's email</label>
                        <input
                                type="text"
                                name="email"
                                th:field="*{email}"
                                class="form-text"
                                placeholder="Add student's email"
                        />
                    </div>

                        <button type="submit" class="btn">Add</button>


                </form>
            </div>
    </div>
</div>

</body>
</html>