<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>School students</title>

    <link rel="stylesheet" href="student.css">
    <style>

    </style>
</head>
<body>

<div class="navbar">

    <h1 class="navbar-heading">Student Administration System</h1>

    <div class="top-side">
        <a class="active" href="index">Home</a>
        <a href="students">Students</a>
        <a href="aboutus">About us</a>

    </div>
</div>


<div style="margin-top: 200px" class="container">

    <div class="stud-info">
        <h1>Student information</h1>
    </div>

    <div class="add-student">
        <a style="color: white" th:href="@{/students/new}" class="add-content">Add student</a>
    </div>

    <table style="width:100%">
        <thead>
        <tr>
            <th>Student first name</th>
            <th>Student last name</th>
            <th>Student age</th>
            <th>Student email</th>
            <th>Update/Remove
                student
            </th>

        </tr>
        </thead>

        <tbody>

        <tr th:each="student: ${students}">
            <td class="td-text" th:text="${student.firstName}"></td>
            <td class="td-text" th:text="${student.lastName}"></td>
            <td class="td-text" th:text="${student.age}"></td>
            <td class="td-text" th:text="${student.email}"></td>
            <td>
                <a th:href="@{/students/update/{id}(id=${student.id})}"
                   class="update-student">Update</a>

                <a th:href="@{/students/{id}(id=${student.id})}"
                   class="delete-student">Remove</a>
            </td>

        </tr>

        </tbody>
    </table>
</div>
</div>
</body>
</html>